node_modules
.nuxt
.output
dist
.pnpm-store
coverage
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
*.pyc
*.pyo
*.pyd
.DS_Store
apps/api/uploads
apps/api/alembic/__pycache__
apps/api/.env
.env
.pnpm-home
.idea